*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  
  font-size: 17px;
  line-height: 26px;
  --webkit-box-shadow: 0 8px 6px -6px gray;
}


.register{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}
/* 
body{
  background-image: url('./styles/home-imgg.png');
  background-repeat: no-repeat;
  background-size: cover;
} */