.home-container {
  display: flex;
  justify-content: flex;
  align-items: center;
  height: 600px
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 180px;
  margin-left: 180px;
}

.heading-container {
  text-align: left;
}

.heading {
  color: white;
  font-family: cursive;
}

.large-heading {
  font-size: 70px; /* Increase the font size to your desired value */
  font-weight: bold; /* Add font-weight if needed */
}

.image {
  width: 30%;
}
