.login-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Center both horizontally and vertically */
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .register-image {
    padding: 20px;
    margin-right: 200px;
  }
  
  .login-card {
    background: linear-gradient(to right, #FFDE59, #FF914D);
    padding: 20px;
    height: 500px;
    width: 400px; /* Adjust the width as desired */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px #b46736,
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  }
  
  .login-card h1 {
    text-align: center;
    color: white;
    margin-bottom: 40px;
  }
  
  .login-card button {
    background-color: #e4922e;
    color: white;
    text-align: center;
    border: none;
    margin-left: 26%;
  }
  .login-card button:hover {
    background-color: #844f0e;
  }
  