.timer {
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 25px;
}

.apti-page {
  background-color: #d6e2e6;
  min-height: 670vh;
  background-size: cover;
}

.pre-page {
  background-color: #d6e2e6;
  min-height: 285vh;
  background-size: cover;
}

.psycho-page {
  background-color: #d6e2e6;
  min-height: 1300vh;
  background-size: cover;
}

/* Media query for smaller screen sizes */
@media (max-width: 767px) {
  .question-image {
    width: 100%; /* Image takes the full width of the question card */
    height: auto; /* Maintain aspect ratio */
  }
}

