.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1f1f1;
}

.register-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  width: 90%;
  max-width: 400px;
}

.signup-form {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

.submit-signup-button {
  width: 100%;
  background-color: #467599;
  border: none;
}

.error-message{
  color: red;
}
