.register-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Center both horizontally and vertically */
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .register-image {
    padding: 20px;
    margin-right: 200px;

  }
  
  .register-card {
    background-color: hsla(0, 1%, 69%, 0.882);
    padding: 20px;
    height: 400px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }
  
  .register-card h1 {
    text-align: center;
  }
  
  .register-card button {
    background-color: grey;
    color: white;
    text-align: center;
  }
  