.cont-test {
  display: flex;
}

.sidebar-test {
  flex: 1;
}

.sidebar-image {
  width: 150%;
  height: 100vh; /* Adjust the height as needed */
  object-fit: cover;
  margin-left: -130px;
}

.content {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  margin-left: 80px;
  margin-top: 90px;
  gap: 20px;
}

.card-psycho {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 80%; /* Set a fixed width for both cards */
  height: 25%;
  box-shadow:
  inset 0 -3em 3em rgba(140, 139, 139, 0.1),
  0 0 0 2px #ced5d6,
  0.3em 0.3em 1em rgba(190, 190, 190, 0.3);

}
.card-apti{
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 80%; /* Set a fixed width for both cards */
  height: 25%;
  box-shadow:
  inset 0 -3em 3em rgba(140, 139, 139, 0.1),
  0 0 0 2px #cbd3d4,
  0.3em 0.3em 1em rgba(190, 190, 190, 0.3);
}
.btn-testing{
  border: none;
  color: black
}

.test-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  margin-top: 150px;
  text-align: center;
}

.heading {
  text-align: center;
  margin-top: -41px;
}
.jtat-p{
  color: rgb(30, 61, 95);
  font-family: 'Roboto';
  line-height:1.6;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: -35px;
}
.main-color{
  background-color: rgba(224, 213, 241, 0.545);
  width: 100vw;
  margin-bottom: 20px;
  height:100vh;
}

.section-link {
  text-decoration: none;
}

.section-card-apti {
  background: white;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
  width: 320px;
  height: 380px;
  box-shadow:
  inset 0 -3em 3em rgba(3, 3, 3, 0.1),
  0 0 0 2px #f7fdfe,
  0.3em 0.3em 1em rgba(24, 24, 24, 0.3);
}
.section-card-psycho {
  background: white;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
  width: 320px;
  height: 360px;
  margin-top: 15px;
  box-shadow:
  inset 0 -3em 3em rgba(3, 3, 3, 0.1),
  0 0 0 2px #f7fdfe,
  0.3em 0.3em 1em rgba(24, 24, 24, 0.3);
}

.section-card-apti:hover {
  background-color: white;
}
.section-card-psycho:hover {
  background-color: white;
}

.section-card-psycho h2 {
  color: black;
  margin-bottom: 10px;
  font-family:'Roboto';
  font-weight:650;
}
.section-card-apti h2 {
  color: black;
  margin-bottom: 10px;
  font-family:'Roboto';
  font-weight:650;
}


.section-card-apti p {
  color: rgb(30, 61, 95);
  line-height:1.1;
}
.section-card-psycho p {
  color: rgb(30, 61, 95);
  line-height:1.1;
}
.circle-img{
  border-radius: 50%;
}